*{
    font-family: ser;
}

body{
    background-color: hsl(30, 18%, 87%);
}

main{
    background-color: white;
    margin: 50px 0;
}

h3{
    color: hsl(14, 45%, 36%);
}

h5{
    color: hsl(330, 68%, 32%);
}

.bg{
    background-color: hsl(330, 100%, 98%);
      
}



table{
    width:100%;
}

tr{
    border-bottom: 1px solid rgb(199, 194, 194);
}

td{
    margin-bottom: 15px;
}

.change-color{
    color:hsl(14, 45%, 36%);
}

@media screen and (max-width:540px) {
    .w-50{
        width:100% !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0 ;
    }

    .w-50 section{
        padding: 18px;
    }

    .W-100{
        border-radius:0 !important ;
    }
}